// Variables
$primary: #067BC2;
$secondary: #c9cbd7;
$text: #eeecf5;


.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh
}

main {
  background-color: $secondary;
  flex-grow: 1;
}

//Card style
.drink-card {
  .card-image {
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  .card {
    border-radius: 8px;
    border: none;
    background-color: $primary;
    color: $text;
  }
  .card-title {
    padding: 10px 15px 7px;
  }
}